@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 0;
}
svg {
  margin: 0;
  padding: 0;
}
svg.rightpage{
  padding-left:0px;
}
svg.leftpage{
  padding-right:0px;
}
svg.centerpage{
  padding-left:0px;
  padding-right:0px;
}
